<!DOCTYPE html> 

<html>

<title>About</title>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{>header}}
    <img src="./img/82202544_2699312056817220_3680059173283823616_o.jpg">
    {{>footer}}
</body>

</html>